@using DTO
@model PagedResponseDTO<UserDTO>

    @{
    Layout = "_Layout";
    }

    <link rel="stylesheet" href="~/css/adminUserPage.css" asp-append-version="true" />
    
    <h1>Users List</h1>

    <div>

        <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
   
    </tr>
  </thead>
  <tbody>
 
      @foreach (var item in Model.Values) 
      {
    <tr>
      
     
      <td>@item.Id</td>
      <td>@item.Username</td>
     
    
    </tr>
     }

  </tbody>
</table>

    </div>


<a class="text-decoration-none" asp-action="GetUsers" asp-route-order="@ViewBag.NameSort"></a>